@font-face {
  font-family: 'DancingScript-Regular';
  src: url('DancingScript-Regular.otf');
}
body{
    font-family: 'DancingScript-Regular';
    font-size: 2em;
    background-color: black;
}
.contenido
{
	width: 900px;
    margin:0 auto;
   
}
header{
    height: 100px;
    color:white;
    text-shadow: 0 0 2px  #02010a;
    background-color: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    
}

#titulo{
    float: left;
    
}
.top_menu ul
{
    float: right;
    list-style:none;
    float:right;
    width:50%;
}
.top_menu ul li
{
    float:right;
    margin-right:20px;
    margin-bottom:10px;
    padding:5px;
    font-size:0.6em;
}
.top_menu ul li a
{
    
    text-decoration:none;
    

}

article
{
	box-sizing: border-box;
	
}

.fondo_imagencentral
{
    clear:both;
    background-color:#82c3a6;
    width: 100%;
    height: 400px;
    
}

.fondo_imagenizquierda 
{
    float: left;
    background-color:#d5c75f;
    width: 50%;
    height: 300px;
    border: 1px solid;
}

.fondo_imagenderecha
{
    float: right;
    background-color:#d5c75f;
    width: 50%;
    height: 300px;
    border: 1px solid;
}
.row {
	display: flex;
}

.center {
	justify-content: center;
}

.left {
	justify-content: flex-start;
}

.right {
	justify-content: flex-end;
}

.between {
	justify-content: space-between;
}

.around {
	justify-content: space-around;
}

.middle {
	align-items: center;
}

.wrap {
	flex-wrap: wrap;
}

.top {
	align-items: flex-start;
}

.column {
	flex-direction: column;
}
.dos_img{
    
	text-align: center;
	
}
.img_principal{
    clear: both;
    display: inline-flex;
    text-align: center;
    
}
#paisaje:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px 5px  #82c3a6;
    border: 2px solid;
}
#retrato:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px 5px #82c3a6 ;
    border: 2px solid;
}
footer{

}

@media screen and (max-width: 900px){
    header p, nav{ 
        
    display:inline-flex; 
    
    max-width:100%; 
    vertical-align:middle; 

    } 
    nav{
        float:none;
        
    }
    #menu{
        padding: 0;

    }
    #menu li {
        display: inline-flex;

        font-size:0.6em;
    }
    #menu li a {
        text-decoration: none;
        float:none;
        padding: 5px;
    }
    .contenido
	{
		width: 100%;
		margin: 0 auto;
	}
	.fondo_imagencentral
	{
        background-color:#82c3a6;
        width: 100%;
        position: relative;
	}
      
	.fondo_imagenizquierda
	{
    background-color:  #d5c75f;
	width: 100%;
	}
	.fondo_imagenderecha
	{
    background-color:  #d5c75f;
	width: 100%;
	}

	header
	{
	width:100%;
	}
}
}
