@font-face {
  font-family: 'DancingScript-Regular';
  src: url('DancingScript-Regular.otf');
}
body{
    font-family: 'DancingScript-Regular';
    font-size: 2em;
    background-color: black;
}
.contenido
{
	width: 900px;
    margin:0 auto;
    display: flex;
    flex-direction:row;
    flex-flow:row wrap;
    
   
}
header{
    height: 100px;
    color:white;
    text-shadow: 0 0 2px  #02010a;
    background-color: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    width: 100%;
}

#titulo{
    float: left;
    
}
.top_menu_index ul
{
    float: right;
    list-style:none;
    width:50%;
}
.top_menu_index ul li
{
    float:right;
    margin-right:20px;
    padding:5px;
    font-size:0.6em;
}
.top_menu_paisajes ul
{
    float: right;
    list-style:none;
    width:50%;
}
.top_menu_paisajes ul li
{
    float:right;
    margin-right:20px;
    padding:5px;
    font-size:0.6em;
}
.top_menu_retratos ul
{
    float: right;
    list-style:none;
    width:50%;
}
.top_menu_retratos ul li
{
    float:right;
    margin-right:20px;
    padding:5px;
    font-size:0.6em;
}
/*Comienzo decoración menu index*/
.top_menu_index ul li #inicio1
{
    float:right;
    text-decoration: none;
    color:white;
}
.top_menu_index ul li #inicio1:visited
{
    float:right;
    text-decoration: none;
    color:white;
}
.top_menu_index ul li #paisajes1
{
    float:right;
    text-decoration:underline;
    color:white;
}
.top_menu_index ul li #paisajes1:visited
{
    float:right;
    text-decoration: underline;
    color:white;
}
.top_menu_index ul li #retratos1
{
    float:right;
    text-decoration:underline;
    color:white;
}
.top_menu_index ul li #retratos1:visited
{
    float:right;
    text-decoration:underline;
    color:white;
}
/*Fin decoración menu index*/

/*Comienzo decoración menu retratos*/
.top_menu_retratos ul li #retratos3
{
    float:right;
    text-decoration: none;
    color:white;
}
.top_menu_retratos ul li #retratos3:visited
{
    float:right;
    text-decoration: none;
    color:white;
}
.top_menu_retratos ul li #inicio3
{
    float:right;
    text-decoration:underline;
    color:white;
}
.top_menu_retratos ul li #inicio3:visited
{
    float:right;
    text-decoration:underline;
    color:white;
}
.top_menu_retratos ul li #paisajes3
{
    float:right;
    text-decoration:underline;
    color:white;
}
.top_menu_retratos ul li #paisajes3:visited
{
    float:right;
    text-decoration:underline;
    color:white;
}

/*Fin decoración menu retratos*/

/*Comienzo decoración menu paisajes*/
.top_menu_paisajes ul li #paisajes2
{
    float:right;
    text-decoration: none;
    color:white;
}
.top_menu_paisajes ul li #paisajes2:visited
{
    float:right;
    text-decoration: none;
    color:white;
}
.top_menu_paisajes ul li #inicio2
{
    float:right;
    text-decoration:underline;
    color:white;
}
.top_menu_paisajes ul li #inicio2:visited
{
    float:right;
    text-decoration:underline;
    color:white;
}
.top_menu_paisajes ul li #retratos2
{
    float:right;
    text-decoration:underline;
    color:white;
}
.top_menu_paisajes ul li #retratos2:visited
{
    float:right;
    text-decoration:underline;
    color:white;
}

/*Fin decoración menu paisajes*/
article
{
	box-sizing:border-box;
    width: 100%;
    float: left;
	
}
table#tabla_paisajes{
    clear:both;
    background-color:#d5c75f;
    width: 100%;
    height: 700px;
    text-align: center;
    
    
}

.fondo_imagencentral
{
    clear:both;
    background-color:#82c3a6;
    width: 100%;
    height: 400px;   
}

.fondo_imagenizquierda 
{
    float: left;
    background-color:#d5c75f;
    width: 50%;
    height: 300px;
    border: 1px solid;
}

.fondo_imagenderecha
{
    float: right;
    background-color:#d5c75f;
    width: 50%;
    height: 300px;
    border: 1px solid;
}
.row {
	display: flex;
}

.center {
	justify-content: center;
}

.left {
	justify-content: flex-start;
}

.right {
	justify-content: flex-end;
}

.between {
	justify-content: space-between;
}

.around {
	justify-content: space-around;
}

.middle {
	align-items: center;
}

.wrap {
	flex-wrap: wrap;
}

.top {
	align-items: flex-start;
}

.column {
	flex-direction: column;
}
.dos_img{
    
	text-align: center;
	
}
.img_principal{
    clear: both;
    display: inline-flex;
    text-align: center;
    
}
#paisaje:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px 5px  #82c3a6;
    border: 2px solid;
}
#retrato:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px 5px #82c3a6 ;
    border: 2px solid;
}
footer{
    height: 120px;
    color:black;
    background-color: #C6d5c5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
    width: 100%;
}
.pie div [class*="col"]{
    flex:1 1 15%;
}
.pie{
    display: flex;
    flex-direction:row;
    flex-flow:row wrap;
}
.pie p{
    margin: 3px 0;
}
#encabezado_pie{
    font-size: 1em;
}
#info_pie{
    font-size: 0.5em;
    text-align: left;
    margin-left: 50px;
    color: black;
}

/*************Formato para móviles************/

@media screen and (max-width: 900px){
    header p, nav{ 
        
    display:inline-flex; 
    
    max-width:100%; 
    vertical-align:middle; 

    } 
    nav{
        float:none;
        
    }
    #menu{
        padding: 0;

    }
    #menu li {
        display: inline-flex;

        font-size:0.6em;
    }
    #menu li a {
        text-decoration: none;
        float:none;
        padding: 5px;
    }
    .contenido
	{
		width: 100%;
		margin: 0 auto;
	}
	.fondo_imagencentral
	{
        background-color:#82c3a6;
        width: 100%;
        position: relative;
	}
      
	.fondo_imagenizquierda
	{
    background-color:  #d5c75f;
	width: 100%;
	}
	.fondo_imagenderecha
	{
    background-color:  #d5c75f;
	width: 100%;
	}

	header
	{
	width:100%;
	}
}
}
