@font-face {
  font-family: 'DancingScript-Regular';
  src: url('DancingScript-Regular.otf');
}
body{
    font-family: 'DancingScript-Regular';
    font-size: 2em;
    background-color: black;
}
header{
    color:white;
    text-shadow: 0 0 2px  #02010a;
    background-color: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header p, nav{ 
    display:inline-flex; 
    
    max-width:100%; 
    vertical-align:middle; 
    
} 
nav{
    float: right;
    padding-right: 20px;
}
#menu{
    padding: 0;
    
}
#menu li {
    display: inline-flex;

    font-size:0.6em;
}
#menu li a {
    text-decoration: none;
    float:right;
    padding: 5px;
    
}
/*header p,nav{ 
    display:inline-block; 
    max-width:100%; 
    vertical-align:middle; 
    
} 
nav{
    
}
nav ul{
    list-style:none;
    margin-right: 20px;
    align-content: 
} 
nav li{ 
    
    font-size:0.6em;
    display:inline-block; 
    padding: 0.5em; 
} 
*/

/*nav{
    float: right;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: right;
    font-size: 0.6em;
}
nav ul li a {
  display: block;  Convertimos los elementos a en elementos bloque para manipular el padding
  text-decoration: none;
  padding: 20px;
  
*/
/*.encabezado nav ul li{

    font-size: 0.7em;
    padding-right: 20px;
    
    text-decoration: none;
    display: inline;
}*/
.contenido
{
	width: 900px;
    margin:0 auto;

    /*flex-direction: column;*/
   
}
article
{
	box-sizing: border-box;
	/*float:left;*/
	height: 100%;
    width: 100%;
}

	.fondo_imagencentral
	{
	background-color:#82c3a6;
	width: 100%;
    height: 100%;
	}

	.fondo_imagenizquierda 
	{
        float: left;
	    background-color:#d5c75f;
	    width: 50%;
        height: 100%;
	}
	.fondo_imagenderecha
	{
        float: right;
        background-color:#d5c75f;
        width: 50%;
        height: 100%;
	}

@media screen and (max-width: 900px){
    header p, nav{ 
        
    display:inline-flex; 
    
    max-width:100%; 
    vertical-align:middle; 

    } 
    nav{
        float:none;
        /*padding-right: 20px;*/
    }
    #menu{
        padding: 0;

    }
    #menu li {
        display: inline-flex;

        font-size:0.6em;
    }
    #menu li a {
        text-decoration: none;
        float:none;
        padding: 5px;
    }
    .contenido
	{
		width: 100%;
		margin: 0 auto;
	}
	.fondo_imagencentral
	{
        background-color:#82c3a6;
        width: 100%;
        position: relative;
	}
      
	.fondo_imagenizquierda
	{
    background-color:  #d5c75f;
	width: 100%;
	}
	.fondo_imagenderecha
	{
    background-color:  #d5c75f;
	width: 100%;
	}

	header
	{
	width:100%;
	}
}

}
/*.contenido{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}*/